/* Общие стили для всех элементов */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Основные стили для html и body */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-width: 800px;
    font-family: Raleway, sans-serif;
}

/* Стили для видеофона */
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}

/* Стили для вуали */
body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: -1;
}

/* Стили для заголовка */
h1 {
    text-align: center;
    width: 740px;
    position: static;
    margin: 60px auto;
    font-size: 116px;
    font-weight: 800;
    letter-spacing: 4.06px;
    color: #000;
    text-transform: uppercase;
}

/* Изменение цвета заголовка при наведении */
h1:hover {
    color: #4C4C4C;
}

/* Стили для тултипа, который появляется при наведении на заголовок */
h1::before {
	color: #000;
	content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
	white-space: pre;
	position: absolute;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	text-align: left;
	border-style: solid;
	border-color: black;
	border-width: 2px 2px 14px 2px; /* Сверху, справа, снизу, слева */
	background-color: white;
	padding: 36px 44px;
	border-radius: 20px;
	top: 182px;
	right: 22px;
	z-index: 0;
	opacity: 1;
}

/* Появление тултипа при наведении */
h1:hover::before {
    opacity: 1;
}

/* Стили для звездочки после заголовка */
h1::after {
    content: '*';
}
